# FOR LOOP

In [2]:
#WAP to input a string and count number of Alphabet 'a' in strinhg
s = input('Enter a String:-')
print(s .lower().count('a'))

Enter a String:-Anaaaa
5

In [5]:
s = input('Enter a String:-')
s = s .lower()
c = s.count('a') + s.count('e') + s.count('i') + s.count('o') + s.count('u')
print(c)

Enter a String:-amtresh
2

In [11]:
a = ['not_palindrom', 'palindoram']
s = input('Enter a String:-')
s1 = s[::-1]
print(a[s == s1])

Enter a String:-aaa
palindoram

In [8]:
a = ['Even', 'odd']
s = int(input('Enter a number:-'))
print(a[ s%2 ] )

Enter a number:-11
odd

In [9]:
a = 10
while a:
    a =a//2
    print(a)

5
2
1
0

In [12]:
s = 'abcd'
for var in s:
    print(var)

a
b
c
d

In [14]:
i = 1
while i <= 10:
    print(i)
    i +=1

1
2
3
4
5
6
7
8
9
10

In [15]:
a = [1,2,3,4]
for data in a:
    print(data)

1
2
3
4

In [16]:
r1 = range(5) #range i ski nd of sequence
print(r1)
a = list(r1)
print(a)

for data in r1:
    print(data)

range(0, 5)
[0, 1, 2, 3, 4]
0
1
2
3
4

In [17]:
print( list(range(5,10)))
print( list(range(5,10,2)))

[5, 6, 7, 8, 9]
[5, 7, 9]

In [21]:
r1 = range(10,0,-1)
for d in r1:
    print(d)

10
9
8
7
6
5
4
3
2
1

In [22]:
for i in range(10):
    print(10 - i)

10
9
8
7
6
5
4
3
2
1

In [26]:
for i in range(5):
    print('*' ,end='')

*****

In [28]:
for i in range(5):# outer
    for j in range(5):# inner
         print('*' ,end='')
    print()

*****
*****
*****
*****
*****

In [29]:
for i in range(5):
    for j in range(5):
        print('*' ,end='')
        print()

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [30]:
for i in range(5):
    for j in range(5):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [31]:
#list
a =[10,20]
a.append(30)
print(a)

[10, 20, 30]